<h1 class="display-1" align="center">Сайт компании</h1>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">О компании</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">Сотрудники</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<table *ngIf="tableMode; else create" class="table table-striped" >
    <thead>
        <tr>
            <th>Отдел</th>
            <th>ФИО</th>
            <th>День рождения</th>
            <th>Дата приема на работу</th>
            <th>Заработная плата</th>
            <th>Создание/удаление/редактирование</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <ng-template [ngIf]="newEmployee?.id != employee.id" [ngIfElse]="edit">
                <td>{{ employee.department }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.birthday }}</td>
                <td>{{ employee.dateOfEmployment }}</td>
                <td>{{ employee.salary }}</td>
                <td>
                    <button class="btn btn-sm btn-success" (click)="add()">Добавить</button>
                    <button class="btn btn-sm btn-primary" (click)="editEmployee(employee)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(employee)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<ng-template #edit>
    <td>

    </td>
    <td>
        <input type="text" [(ngModel)]="newEmployee.name" class="form-control" />
    </td>
    <td>
        <!---->
    </td>
    <td>
        <!---->
    </td>
    <td>
        <input type="number" [(ngModel)]="newEmployee.salary" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<ng-template #create>
    <div class="form-group">
        <label>ФИО</label>
        <input type="text" [(ngModel)]="newEmployee.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Зарплата</label>
        <input type="number" [(ngModel)]="newEmployee.salary" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>
